@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}

.prose h2 {
  margin-top: 2em;
}

.prose h3 {
  margin-top: 1.5em;
}
